.home {
    background-image: url(../img/desk-plant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 8em;
}

.navbar img {
    height: 4em;;
    position: absolute;
    right: 50%;
    margin-right: -110px;
}

.navbar ul {
    padding-top: 4em;
}

.navbar {
    background: none;
}

.head-white {
    font-size: 8em;
    color: white;
}

.sub-white {
    color: white;
}

.inner {
    padding-top: 10em;
    margin: 0 auto;
}
